body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game.board{
    display: grid;
    grid-template-columns: repeat(3 , 50px);
    grid-template-rows: repeat(3 , 50px);
    gap: 20px;
}
h1{
    color: yellowgreen;
}

.game.board > div {
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}