body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game.board{
    display: grid;
    grid-template-columns: repeat(3 , 50px);
    grid-template-rows: repeat(3 , 50px);
    gap: 20px;
}
h1{
    color: yellowgreen;
}

.game.board > div {
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}